{
    "applications": {
	"example_perl": {
	    "type": "perl",
	    "user": "nobody",
	    "processes": 1,
	    "working_directory": "/opt/share/www/unit-perl/perl-app",
	    "script": "/opt/share/www/unit-perl/perl-app/index.pl"
	}
    },

    "listeners": {
	"*:8600": {
	    "application": "example_perl"
	}
    }
}
